<div class="game-details-wrapper">
    <h1 class="game-title">{{game.name}}</h1>

    <div class="game-details">
        <p class="game-info">
            <strong>Description:</strong> {{game.description}}
        </p>
        <p class="game-info">
            <strong>Release date:</strong> {{game.releaseDate}}
        </p>
        <p class="game-info">
            <strong>Genre:</strong>
            <a href="/genres/{{game.genre.id}}/games">{{game.genre.name}}</a>
        </p>
        <p class="game-info">
            <strong>Editor:</strong>
            <a href="/editors/{{game.editor.id}}/games">{{game.editor.name}}</a>
        </p>
    </div>

    <div class="game-actions">
        <a href="/games/{{game.id}}/edit">
            <button class="modify-btn">Modify</button>
        </a>
        <a href="/games" class="back-link">Back to games</a>
    </div>
</div>
